# Google: sm3257en-qf_2flash_demo_v04.pdf ;/
ee/datasheets/rushing/*

ovrdrive.elf
ovrdrive.hex
fw/cscope.out
ee/ovrdrive/ovrdrive-backups/

*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.hex
*.elf
*.lck

token_storage.json

.DS_Store
